/* TODO general sidebar styles */
.sidebar {
    padding: 10px;
    margin: 10px;
    border: 5px solid #ccc;
    float: left;
    width: 250px;
    height: 600px;
    padding-left: 0.5px;
}

/* TODO expanded styles */
.app-sidebar.expanded {
    /* width: ??? */
}

/* TODO collapsed styles */
.app-sidebar.collapsed {
    /* width: ??? */
}